body {
   font-family: "Dongle", 'Times New Roman';
   margin: 0px;
}

#container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    width: 99vw;
}

#header {
    box-shadow: 0px 5px 3px -3px lightgrey;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#header-one, #header-two {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0px 200px 0px 50px;
    justify-content: space-between;
}

#header-one {
    font-size:40px;
    padding-top: 20px;
}

#header-one > div > p {
    margin: 0px;
}

#header-one > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-one > div:nth-child(2) {
    display: flex;
    gap: 30px;
    align-items: center;
}

input[type="search"] {
    width: 35vw;
    height: 4vh;
    border-radius: 15px;
    background-color:rgba(240, 235, 235, 0.377);
}

#header-two {
    gap: 25px;
    font-size:57px;
}

img[src="/icons8-running-rabbit-100.png"]{
    width: 60px;
    height: 60px;
}

img[src="/bell-ring.png"]  {
    width: 40px;
}

#header-two > div:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
}

#welcome > p:nth-child(1) {
    font-size: 25px !important;
}

#welcome > p {
    line-height: 25px;
    margin: 0px;
}

button {
    padding: 13px 25px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(235, 84, 202, 0.699);
    color: white;
    border-color:rgba(235, 84, 202, 0.699)
}

button:hover {
    background-color: rgba(0, 138, 34, 0.863);
    border-color: rgba(0, 138, 34, 0.863);
}

#sidebar {
    grid-row: 1/4;
    background-color: rgba(235, 84, 202, 0.699);
}

.group, #sidebar-dashboard  {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 32px;
    margin-bottom: 5px;
    color: white;
    padding-left: 25px;
    padding-right: 30px;
    font-weight: bold;
}

.group:hover {
    background-color: rgba(0, 138, 34, 0.863);
}

.group > img {
    height: 29px;
    width: auto;
}

.group:nth-child(8) {
    margin-top: 60px;
}

#sidebar-dashboard {
    padding-bottom: 0px;
    padding-left: 20px;
    font-size: 60px;
    line-height: 40px;
    margin-bottom: -35px;

}

#sidebar-dashboard > img {
    height: auto;
    margin-top: -5px;
}

#main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 30px;
    padding-right: 20px;
    gap: 60px;
    background-color: rgba(240, 235, 235, 0.377);
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px rgb(128, 128, 128);
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin: 16px 8px 8px 8px;
    padding-left: 7px;
    line-height: 24px;
}

.card > .title:hover{
    font-size: 30px;
}

.body {
    flex-grow: 1;
    margin: 0px 15px;
    font-size: 24px;
    overflow: hidden;
    line-height: 20px;
}

.card-icons {
    display: flex;
    gap: 7px;
    width: 100%;
    background-color: rgba(235, 84, 202, 0.699);
    justify-content: right;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-icons:hover {
    background-color:rgba(0, 138, 34, 0.863);
}

.card-icons:hover::before {
    content: "Like / Share / Comment!";
    display: block;
    color: white;
    font-size: 20px;
    justify-self: left;
    font-weight: bold;
}

.card-icons > img:hover {
   opacity: 70%;
}

.card-icons > img:nth-child(3) {
    margin-right: 15px;
}


#main-side {
    margin-left: 20px;
}

.section-header{
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
}

#announcements, #profiles {
    border-top: black 2px solid;
    border-left: black 2px solid;
    padding: 20px 10px 10px 10px;
    margin-right: 30px;
    border-radius: 20px;
    background-color: white;
}

#announcements {
    overflow: scroll;
    height: 45%;
}

.announcement {
    padding-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    border-bottom: 2px solid rgb(10, 10, 10);

}

.announcement > .title {
    line-height: 20px;
}

.announcement:nth-child(odd) {
    background-color: rgba(235, 84, 202, 0.699);
    color: white;
    border-radius: 10px;
}

#profiles {
    border: 2px solid black;
}

.profile {
    margin-bottom: 25px;
    display: flex;
    height: 25%;
    gap: 10px;
    align-items: center;
}

.profile:last-child {
    margin-bottom: 5px;
}

.profile  img {
    width: 50px;
    height: 50px
}

.profile div > p{
    margin: 0px;
    font-size: 28px;
    line-height: 25px;
}

.profile > div {
    display: flex;
    flex-direction: column;
}

.profile > div > .id {
    font-weight: bold;
}

#race-announcements, #top-runners {
    padding-bottom: 0px;
    margin-bottom: -10px;
}

p > img {
    margin-bottom: -7px;
    width: 33px;
}

